.board-canvas{
    position: relative;
    flex-grow: 1;
}
#board{
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    >div{
        display: inline-block;
        vertical-align: top;
        margin-top: 8px;
        margin-right: 8px;
    }
    >:first-child{
        margin-left:8px;
    };
    
}
#board::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
#board::-webkit-scrollbar-button {
    display: block;
    height: 4px;
    width: 4px;
}
#board::-webkit-scrollbar-track-piece {
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
}
#board::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.6);
    border-radius: 4px;
}
